<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/header.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<title>Title</title>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-custom smart-scroll" style="background-color: #457b9d;">
        <a class="navbar-brand" href="#">Company Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-2">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-2">
                    <a class="nav-link" href="#">Tasks</a>
                    </li>
                    <li class="nav-item mr-2">
                    <a class="nav-link"  href="#">My Performance</a>
                    </li>
                    <li class="nav-item mr-2">
                    <a class="nav-link" href="#">360 Feedback</a>
                    </li>
            </ul>
            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="settings"  class="fas fa-user-cog"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">View Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
            <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
        </div>
      </nav>

      <nav id="navbar2" class="navbar navbar-toggleable-sm bg-inverse navbar-inverse fixed-top smart-scroll-two" style="background-color: #e63946;">
        <span id="nameJob" class="navbar-brand" href="#">Ritvik Shirish Deshpande<small>CEO</small></span>
      </nav>