<%- include ("./partials/header2") %> 

<div class="header2container">
    <p id="reviewDropdown">Review Period</p>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle reviewDropdownBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> Dec 4, 2020 - Feb 8, 2021</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="employeeFilter">
        <div class="redBarEmployee">
            <span>Filters</span>
        </div>
        <form action="">
            <div class="form-row">
                <span>Employee</span>
                <input type="text" class="form-control" name="employee" id="employeeName">
                <input type="text" placeholder="Search" class="form-control" id="searchEmployee">
                <span>Department</span>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle departmentDropdownBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span> ~All~</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="findEmployees">
        <p id="numOfEmployeesFound">Found 5 employees.</p>
        <div class="tableHeading">
            <span id="tableHeadingEmployee">Employee</span>
            <span id="tableHeadingPerformance">Performance Review</span>
            <span id="tableHeadingGoals">Goals</span>
            <span id="tableHeadingFeedback">360 Feedback</span>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
        <hr>
        <div class="employeeInfoDiv">
            <img class="profilePicEmployeePage" src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">
            <span class="nameOfEmployee">Prajakta Deshpande</span>
            <span class="newAppraisals">~No New Appraisals~</span>
            <i class="fas fa-chart-bar employeeIcon"></i>
            <button class="btn results">Results</button>
            <i class="fas fa-eye eyeIcon"></i>
            <button class="btn view">View</button>
            <i class="fas fa-history feedbackIcon"></i>
            <button class="btn feedback">Logs</button>
        </div>
    </div>
</div>



<%- include ("./partials/footer") %> 