<%- include ("./partials/header2.ejs") %> 
    
<div class="manageAccountDiv">
    <h2>Manage Account</h2>
    <ul class="nav flex-column nav-pills">
        <div class="a-div">
            <a class="nav-link nav-item generalSettings" data-toggle="pill" href="#generalSettings">General Settings</a>
            <i class="fas fa-caret-right arrowIcon"></i>
            <a class="nav-link nav-item" data-toggle="pill" href="#reviewCycles">Review Cycles</a>
            <i class="fas fa-caret-right arrowIcon2"></i>
        </div>
    </ul>
</div>

<div class="tab-content" id="nav-tabContent">

    <div id="generalSettings" class="tab-pane fade in active">
        
        <div class="generalSettings2">
            <div class="col-2 col-md-3 col-xl-2 pr-3">
                <input type="text" class="form-control">
            </div>
            <!-- <h2>General</h2>
            <hr>
            <form action="generalSettings" method="POST">
                <div class="form-group">
                    <Label for="companyName"> Change Company Name</Label>
                    <input type="text" name="companyName" id="companyName" class="form-control">
                </div>
                <div class="form-group">
                    <Label for="peerFeedbackCycle"># of 360 Feedbacks per assessment cycle</Label>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          1
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">2</a>
                          <a class="dropdown-item" href="#">3 </a>
                          <a class="dropdown-item" href="#">4 </a>
                        </div>
                    </div>
                    <hr class="saveChanges">
                    <button class="btn saveChangesBtn">Save Changes</button>  
                </div>
            </form> -->
        </div>
    </div>

    <div id="reviewCycles" class="tab-pane fade in active">
        <div class="changeSettings">
            <h2>Review Cycles</h2>
            <hr>
            <p>In this section you can decide how many times you want your employees to be reviewed per annum. This can be based on several factors such as the size of your company, organizational structure, manager to employee ratio etc.</p>
            <div class="row no-gutters">
                <div class="col-auto mr-4">
                    <h4 class="noDisplay">#1 </h4>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <h3>Cycle Name</h3>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <h3>Start Date</h3>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <h3>End Date</h3>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-auto mr-4 ">
                    <h4>#1 </h4>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-1 ">
                    <i class="fas fa-trash faded"></i>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-auto mr-4 ">
                    <h4>#2 </h4>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-1 ">
                    <i class="fas fa-trash faded"></i>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-auto mr-4 ">
                    <h4>#3 </h4>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-1 ">
                    <i class="fas fa-trash faded"></i>
                </div>
            </div>
            <div class="row no-gutters mb-2">
                <div class="col-auto mr-4 ">
                    <h4>#4 </h4>
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-2 col-md-3 col-xl-2 pr-3">
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-auto ">
                    <i class="fas fa-trash "></i>
                    <i class="fas fa-plus "></i>
                </div>
            </div>
            
            <hr class="saveChanges">
            <button class="btn saveChangesBtn">Save Changes</button>  
        </div>
    </div>

</div>



<%- include ("./partials/footer.ejs") %> 