<%- include ("./partials/header") %> 


        <div class="content">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-primary" role="alert">
                    <%= error %> 
                </div>
            <% } %>
            <% if(success && success.length > 0) { %>
                <div class="alert alert-primary" role="alert">
                    <%= success %> 
                </div>
            <% } %>
            <h1>Dashboard</h1>
            <div class="dashboardBox">
                <p>Welcome!</p>
                <p>
                    Welcome to Performi! Performi is a performance management website that allows 4 different types of users
                    (Admin, HR, Manager, employees) to recieve performance reviews. With performi you can set goals etc...
                </p>
            </div>
            <div class="dashboardBox">
                <p>Tasks!</p>
                <p>
                    You have a <a href="">new task!</a> Click the link or go to the tasks tab in the navigation bar
                </p>
            </div>
            <div class="dashboardBox">
                <p>New Update</p>
                <p>
                    Performi 2.01 has just released! Update Perfomi to the newest version <a href="">here</a>
                </p>
            </div>
        </div>
 



<%- include ("./partials/footer") %> 