<%- include ("./partials/header") %> 


<div class="content">
    <h1>Tasks <i class="fas fa-circle"></i></h1>
    <p id="number">4</p>
    <div class="currentTasks">
        <div class="redBar">
           <span>Your Tasks</span>
        </div>
        <div class="task">
            <i class="fas fa-comment-dots"></i>
            <span class="firstSpan" >Give Peer Feedback on Shirish D</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-pencil-alt"></i> <span>Respond</span></button>
            <button class="btn"><i class="fas fa-trash"></i> <span>Decline</span> </button>
        </div>

        <div class="task">
            <i class="fas fa-file-pdf"></i>
            <span class="firstSpan" >Annual Performance Review</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-pencil-alt"></i> <span>Respond</span></button>
        </div>

        <div class="task">
            <i class="fas fa-bell"></i>
            <span class="firstSpan" >Complete Your Assessment of Jai D</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-pencil-alt"></i> <span>Respond</span></button>
        </div>

        <div class="task">
            <i class="fas fa-comment-dots"></i>
            <span class="firstSpan" >Give Peer Feedback on Areez H</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-pencil-alt"></i> <span>Respond</span></button>
            <button class="btn"><i class="fas fa-trash"></i> <span>Decline</span> </button>
        </div> 
    </div>

    <div class="finishedTasks">
        <div class="redBar">
           <span>Finished Tasks</span>
        </div>
        <div class="task">
            <i class="fas fa-bullseye"></i>
            <span class="firstSpan" >View Jan 2, 2020's goal</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-eye"></i> <span>View</span></button>
        </div>

        <div class="task">
            <i class="fas fa-comment-dots"></i>
            <span class="firstSpan" >View Sam's Jan,18,2020 Performance Review</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-eye"></i> <span>View</span></button>
        </div>

        <div class="task">
            <i class="fas fa-bullseye"></i>
            <span class="firstSpan" >View Jan 2, 2020's goal</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-eye"></i> <span>View</span></button>
        </div>

        <div class="task">
            <i class="fas fa-bullseye"></i>
            <span class="firstSpan" >View Jan 2, 2020's goal</span>
            <span>Due in 20 days (April 20, 2020)</span>  
            <button class="btn"><i id="pencil" class="fas fa-eye"></i> <span>View</span></button>
        </div>
        
    </div>
</div>






<%- include ("./partials/footer") %> 