.navbar-custom{
    height: 3rem;
}

.navbar-custom a{
    color: #f1faee;
    font-weight: 700;
    font-size: 1.2rem;
}

#navbar2{
    z-index: 0;
    margin-top: 3rem;
    height: 10.9vh;
    opacity: 0.87;
}

#nameJob{
    margin-left: 24rem;
    font-weight: bold;
    font-size: 3rem;
    line-height:2.2vh;
    padding-bottom: 1vh;
    color: #f1faee;
  }
  
  #nameJob small {
    margin-top: 2vh;
    display:block;
    font-weight: bold;
    font-size: 1.6rem;
  }

  #profilePic{
      position: absolute;
      margin-left: 6vw;
      margin-top: 9vh;
      z-index: 1;
      width: 11%;
      height: 20%;
      border-radius: 50%;
  }

  .employeesPic{
    position: absolute;
    width: 1.5%;
    height: 2.5%;
    border-radius: 50%;
}


  #personalInfo{
    margin-left: 6vw;
    font-size: 1.24rem;
  }

  p{
    color: #1d3557;
    margin-bottom: 0.2vh;
  }

  i{
    color:black;
  }

  #line1{
      padding-top: 33vh;
  }

  .heading{
      font-weight: bold;
      color: #e63946;
  }

  #besidePic{
    margin-left: 2vw;
  }

  #settings{
    color: #f1faee;
  }

  #suboordinates{
    margin-top: 1rem;
  }

  hr{
    margin-left: .1rem;
    width: 13rem;
    border: 1px dashed #a6a6a6;
  }