body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/* Login page */
 /*  */
 /*  */

#appTitle{
    font-size: 2.5rem;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin-top: 6vh;
    margin-bottom: 3vh; 
    color: #457b9d;
    font-weight: 500;
    letter-spacing: .08rem;
}

@media (min-width: 576px) {
    #appTitle {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 768px)  {
    #appTitle{
      font-size: 3.5rem;
    }
  }
  
  @media (min-width: 992px) {
    #appTitle{
      font-size: 4rem;
    }
  }

.loginDiv{
    border: 2px solid #d1d1d1;
    width: 20rem;
    height: 76vh;
    margin: 12vh auto;
    padding-left: 2rem;
}
 
@media (min-width: 576px) {
    .loginDiv {
      width: 25rem;
    }
  }
  
  @media (min-width: 768px)  {
    .loginDiv{
      width: 35rem;
    }
  }
  
  @media (min-width: 992px) {
    .loginDiv{
      width: 39rem;
    }
  }

.form-control{
    width: 80%;
    height: 4.5vh;
}

#forgotPassword{
    display: block;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

#loginBtn{
    display: block;
    width: 80%;
    height: 6vh;
    margin-bottom: 5vh;
    background-color: #457b9d;
    font-weight: bold;
    border-radius: 1.2rem;
    font-size: 1.1rem;
}

@media (min-width: 576px) {
    #loginBtn {
      font-size: 1.3rem;
      margin-bottom: 4vh;
    }
  }
  
  @media (min-width: 768px)  {
    #loginBtn{
      font-size: 1.6rem;
    }
  }
  
  @media (min-width: 992px) {
    #loginBtn{
      padding-bottom: 3rem;
      font-size: 1.8rem;
    }
  }

#signingUp{
    padding-left: 1rem;
    line-height: 4vh;
}

@media (max-width: 767px) {
    #signingUp {
        font-size: 0.9rem;
        padding-left: 0;
        line-height: 4vh;
        margin-right: 4rem;
        text-align: left;
    }

    #signingUp a{
        margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 768px)  {
    #signingUp{
        padding-left: 2.3rem;
    }
  }
  
  @media (min-width: 992px) {
    #signingUp{
        padding-left: 4rem;
    }
  }

a{
    color: #457b9d;
    font-weight: 700;
}

/* Demo page */
 /*  */
 /*  */

#demoLoginTitle{
    color: #1d3557;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 9vh;
    padding-left: 25%;
}

p{
    margin-top: 1vh;
    margin-bottom: 9vh;
    color: #1d3557;
}

.demoUser{
    padding-left: 20%;
}

.fa-user{
    font-size: 5em;
}

#demoSignIn{
    padding-left: 15%;
    font-size: 1rem;
}

@media (min-width: 576px) {
   #demoSignIn{
        padding-left: 21%;
   }
  }
  
  @media (min-width: 768px)  {
    #demoSignIn{
        padding-left: 28%;
   }
  }
  
  @media (min-width: 992px) {
    #demoSignIn{
        padding-left: 30%;
    }
  }

#demoIconColor1{
    color: #e63946;
}

#demoIconColor2{
    color: #a8dadc;
}

#demoIconColor3{
    color: #457b9d;
}

#demoIconColor4{
    color: #1d3557;
}


/* company sign up page */

.appTitle{
  font-size: 2.5rem;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-top: 6%;
  margin-bottom: 1.7%; 
  color: #457b9d;
  font-weight: 500;
  letter-spacing: .08rem;
}

#lastName{
  width: 96%;
}


.forgotPassword{
  display: block;
  margin-top: 1%;
  margin-bottom: 5;
}

