body{
    font-family: 'Montserrat', sans-serif;
    font-size: .9vw;
}

/* Login page */
 /*  */
 /*  */

#appTitle{
    font-size: 3vw;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin-top: 6vh;
    margin-bottom: 3vh; 
    color: #457b9d;
    font-weight: 500;
    letter-spacing: .08rem;
}

.loginDiv{
    border: 2px solid #d1d1d1;
    width: 30%;
    height: 76vh;
    margin: 12vh auto;
    padding-left: 2rem;
}

.form-control{
    width: 80%;
    height: 4.5vh;
}

#forgotPassword{
    display: block;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

#loginBtn{
    display: block;
    width: 80%;
    height: 6vh;
    margin-bottom: 5vh;
    background-color: #457b9d;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1.2vw;
}

#signingUp{
    padding-left: .5rem;
    line-height: 4vh;
}

a{
    color: #457b9d;
    font-weight: 700;
}

/* Demo page */
 /*  */
 /*  */

#demoLoginTitle{
    color: #1d3557;
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 9vh;
    padding-left: 5.5vw;
}

p{
    margin-top: 1vh;
    margin-bottom: 9vh;
    color: #1d3557;
}

.demoUser{
    padding-left: 5.6vw;
}

.fa-user{
    font-size: 5em;
}

#demoSignIn{
    padding-left: 6.8vw;
    font-size: .8vw;
}

#demoIconColor1{
    color: #e63946;
}

#demoIconColor2{
    color: #a8dadc;
}

#demoIconColor3{
    color: #457b9d;
}

#demoIconColor4{
    color: #1d3557;
}